.footer{
    padding-top: 4px;
    bottom: 0px;
    width: 100%;
    min-height: 120px;
    .container{
        margin-top: 12px;
        .row{
            .col-12, .col-md-4{
                width: 33%;
                text-align: center;
                padding-bottom: 12px;
                h6{
                    color:gray;
                }
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}