.item-detail-view{
    .detail-item{
        padding: 2rem;
        @media screen and (min-width:1140px) {
            padding: 10rem;
            padding-right: 3rem;
        }
        .detail-img{
            width: 100%;
            max-width: 600px;
            height: 100%;
            display: flex;
            text-align:center;
            align-content: center;
            .img{
                width: 100%;
                object-fit: contain;
                height: auto;
                cursor: pointer;
                vertical-align: middle;
                position: relative;
            }
        }
        
    }
}