.navbar-brand{
    font-size: 1.125rem;
    text-transform: uppercase;
}

.navbar-nav {
    .nav-link{
        font-family: "Roboto";
        font-size: 1rem;
        font-weight: 700;
        align-self: center;
        color: #000 !important;
        text-transform: uppercase;
        .btn{
            &:focus{
                box-shadow: none;
            }
        }
    }
}
