.navbar-brand{
    font-size: 1.125rem;
    text-transform: uppercase;
}

.navbar{
    .order-lg-1,.order-lg-3{
        width: 40%;
    }
}

.navbar-nav {
    .btn{
        padding: .375rem .0rem;
    }
    .nav-link{
        font-family: "Roboto";
        font-size: 1rem;
        font-weight: 700;
        align-self: center;
        color: #000 !important;
        text-transform: uppercase;
        .btn{
            &:focus{
                box-shadow: none;
            }
        }
    }
}
